/* CSS styling sheet for stylingColors.html */

/* h1 text to green using color element */
h1{
    color: rgba(0, 128, 0, 0.768);
}

/* h2 text to purple using color element*/
h2{
    color: rgba(128, 0, 128, 0.683);
}

/* paragraph text to pink using color element and background green using background-color element*/
p{
    color: rgb(242, 90, 207);
    background-color:rgba(101, 207, 101, 0.85);
    /* cut colored background to fix where there is text */
    display: inline;
}

/* button white text and blue background */
button{
    color: white;
    background-color: rgb(60, 60, 177);
}